{
	"openapi/**/*": [
		"bash -c \"pnpm run lint:openapi\"",
		"bash -c \"pnpm run openapi:postman\""
	],
	"prisma/**/*": "bash -c \"pnpm run lint:prisma\"",
	"(src|tests)/**/*": [
		"bash -c \"pnpm run lint:ts\"",
		"bash -c \"pnpm run lint:code\"",
		"bash -c \"pnpm run test\""
	]
}
