version: '3.8'

services:
  localstack:
    # https://medium.com/@muthomititus/a-guide-to-localstack-with-docker-compose-e1487e3a776f
    image: localstack/localstack:1.0.4
    container_name: econominhas-localstack
    ports:
      - '4566:4566'
    environment:
      - SERVICES=s3:4566
      - HOSTNAME=localstack
      - HOSTNAME_EXTERNAL=localstack
      - DEFAULT_REGION=us-east-1
    volumes:
      - './localstack/buckets.sh:/docker-entrypoint-initaws.d/buckets.sh'
    networks:
      - econominhas-api_network

  postgres:
    image: 'postgres:latest'
    container_name: econominhas-postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    volumes:
      - 'postgres:/var/lib/postgresql/data/'
    networks:
      - econominhas-api_network

  api:
    build:
      context: '.'
      dockerfile: Dockerfile.dev
    container_name: econominhas-api
    command: yarn start:docker
    depends_on:
      - postgres
      - localstack
    ports:
      - 3000:3000
    env_file:
      - .env
    volumes:
      - ./:/app/
    networks:
      - econominhas-api_network

volumes:
  postgres:

networks:
  econominhas-api_network:
    driver: bridge
    ipam:
      config:
        - subnet: '172.16.0.0/24'
          gateway: 172.16.0.254
