openapi: 3.1.0
info:
  version: 1.0.0
  title: API Econominhas
  termsOfService: https://econominhas.com.br/termos-de-servico/
  contact:
    email: contato@econominhas.com.br
    url: http://econominhas.com.br/contato
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://https://raw.githubusercontent.com/econominhas/backend/master/redocly/html/logo.png
  description: >
    # Introduction

    This API definition is intended to to be a good starting point for
    describing your API in [OpenAPI/Swagger
    format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md).

    It also demonstrates features of the
    [create-openapi-repo](https://github.com/Redocly/create-openapi-repo) tool
    and the [Redoc](https://github.com/Redocly/Redoc) documentation engine. Beyond
    the standard OpenAPI syntax, we use a few
    [vendor extensions](https://github.com/Redocly/Redoc/blob/master/docs/redoc-vendor-extensions.md).

    # OpenAPI Specification

    The goal of The OpenAPI Specification is to define a standard, language-agnostic interface to REST APIs which
    allows both humans and computers to discover and understand the capabilities
    of the service without access to source
    code, documentation, or through network traffic inspection. When properly
    defined via OpenAPI, a consumer can
    understand and interact with the remote service with a minimal amount of
    implementation logic. Similar to what
    interfaces have done for lower-level programming, OpenAPI removes the
    guesswork in calling the service.

tags:
  - name: Auth
    description: User creation and authentication.
  - name: Account
    description: User account config.
  - name: Bank
    description: To manage bank providers and accounts.
  - name: Budget
    description: To manage bank budgets.
  - name: Card
    description: To manage credit cards and vouchers.
  - name: Category
    description: To manage bank categories.
  - name: Recurrent Transaction
    description: To manage recurrent transactions.
  - name: Subscription
    description: To manage subscriptions.
  - name: Terms Of Service
    description: To manage terms of service and privacy policy.
  - name: Transaction
    description: To manage transactions.

servers:
  - url: https://econominhas.com.br/api/v1

paths:
  /auth/google:
    $ref: paths/auth/google.yaml
  /auth/email:
    $ref: paths/auth/email.yaml
  /auth/phone:
    $ref: paths/auth/phone.yaml
  /auth/code:
    $ref: paths/auth/code.yaml
  /auth/refresh:
    $ref: paths/auth/refresh.yaml

  /accounts/iam:
    $ref: paths/accounts/iam.yaml
  /accounts/name:
    $ref: paths/accounts/name.yaml

  /banks/providers:
    $ref: paths/banks/providers.yaml
  /bank/accounts:
    $ref: paths/banks/accounts/index.yaml
  /bank/accounts/balance:
    $ref: paths/banks/accounts/balance.yaml

  /budgets:
    $ref: paths/budgets/index.yaml
  /budgets/basic:
    $ref: paths/budgets/basic.yaml

  /cards/providers:
    $ref: paths/cards/providers.yaml
  /cards:
    $ref: paths/cards/index.yaml

  /categories/many:
    $ref: paths/categories/many.yaml
  /categories:
    $ref: paths/categories/index.yaml
  /categories/default:
    $ref: paths/categories/default.yaml

  /terms/accept:
    $ref: paths/terms/accept.yaml
  /terms/latest:
    $ref: paths/terms/latest.yaml

components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
